{% extends 'base.html' %}


{% block content %}
{{super()}}
<h1>{{ title }}</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

{% if is_admin %}
<a href="{{ url_for('admin.edit_user', user_id=user.id) }}">Редактировать пользователя</a>
{% endif %}

<p><span class="red-text">Должность: </span>{{ user.role }}</p>
<p><span class="red-text">Отдел: </span> <a href="{{ url_for('main.department_view', dept_id=user.department.id) }}">{{ user.department.department_name }}</a></p>
<p><span class="red-text">Email: </span>{{ user.email }}</p>
<h2>Проекты:</h2>
{% if user.projects_participated %}
<table class="table">
    {% for p in user.projects_participated %}
        <tr>
            <td><span class="red-text">{{ p.status.status_name }}: </span></td>
            <td><a href="{{ url_for('main.project', project_id=p.id) }}">
                {{ p.project_name }}
            </a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>На данный момент пользователь не участвует ни в каких проектах</p>
{% endif %}
<h2>Задачи:</h2>
{% if user.tasks_assigned %}
<table class="table">
    {% for t in user.tasks_assigned %}
            <tr>
                <td><span class="red-text">{{ t.status.status_name }}: </span></td>
                <td><a href="{{ url_for('main.task', project_id=t.project_id, task_id=t.id) }}">{{ t.task_title }}</a></td>
                <td>До {{ t.deadline.strftime("%d.%m.%Y") }}</td>
                <td><a href="{{ url_for('main.project', project_id=t.project_id) }}">Перейти в проект -></a></td>
            </tr>
    {% endfor %}
</table>
{% else %}
<p>На данный момент пользователь не назначен исполнителем ни для каких заданий</p>
{% endif %}
{% endblock %}