{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>Редактировать пользователя: {{ user.username }}</h1>
<div class="form-container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors[0] }}</div>
    {% endif %}
    {% if user.id == current_user.id %}
        <p>⚠️ Внимание! Если вы хотите изменить email в вашем аккаунте, то <b>убедитесь, что измените email администратора в конфигурации сайта</b>, иначе ваш аккаунт потеряет доступ к правам администратора</p>
    {% endif %}
    <div class="form-group">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    {% if form.email.errors %}
        <div class="text-danger">{{ form.email.errors[0] }}</div>
    {% endif %}
    <div class="form-group">
        {{ form.role.label(class="form-label") }}
        {{ form.role(class="form-control") }}
    </div>
    {% if form.role.errors %}
            <div class="text-danger">{{ form.role.errors[0] }}</div>
    {% endif %}
    <div class="form-group">
        {{ form.department.label(class="form-label") }}
        {{ form.department(class="form-control") }}
    </div>
    {% if form.department.errors %}
            <div class="text-danger">{{ form.department.errors[0] }}</div>
    {% endif %}
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<p><a href="{{ url_for('auth.profile', user_id=user.id) }}"><- Назад к пользователю</a></p>
</div>
{% endblock %}
