{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="form-container">
<h1>Редактировать объект:
</h1>
    {% if group == 'departments' %}
    <h3>Отдел:
    {{ obj.department_name }}</h3>
    {% elif group == 'statuses' %}
    <h3>Статус:
    {{ obj.status_name }}</h3>
    {% endif %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.obj_name.label(class="form-label") }}
        {{ form.obj_name(class="form-control") }}
    </div>
    {% if form.obj_name.errors %}
        <div class="text-danger">{{ form.obj_name.errors[0] }}</div>
    {% endif %}
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<p><a href="{{ url_for('admin.manage_groups', group=group) }}"><- Назад</a></p>
</div>
{% endblock %}
