{% extends 'base.html' %}

{% block content %}
<h1>Редактировать пользователя: {{ user.username }}</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username() }}
    </div>
    <div>
        {% if user.id == current_user.id %}
        <p>Внимание! Если вы хотите изменить email в вашем аккаунте, то убедитесь, что измените email администратора в конфигурации сайта, иначе ваш аккаунт потеряет доступ к правам администратора</p>
        {% endif %}
        {{ form.email.label }}
        {{ form.email() }}
    </div>
    <div>
        {{ form.role.label }}
        {{ form.role() }}
    </div>
    <div>
        {{ form.department.label }}
        {{ form.department() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<p><a href="{{ url_for('auth.profile', user_id=user.id) }}">Назад к пользователю</a></p>
{% endblock %}
