{% extends "base.html" %}

{% block content %}
{{super()}}
    <h2>{{ title }}</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.task_title.label }}
            {{ form.task_title(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.task_description.label }}
            {{ form.task_description(class="form-control", rows=4) }}
        </div>

        <div class="form-group">
            {{ form.status.label }}
            {{ form.status(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.deadline.label }}
            {{ form.deadline(class="form-control", type="date") }}
        </div>

        <div class="form-group">
            {{ form.executor.label }}
            {{ form.executor(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endblock %}
