<!DOCTYPE html>
<html>
    <head>
    {% block title %}
    <title>Leasing Teamwork</title>
    {% endblock %}
    </head>
    <body>
        {% block content %}
            {% block mainmenu %}
            <ul class="mainmenu">
                {% for p in menu %}
                <li><a href="{{p.url}}">{{p.title}}</a></li>
                {% endfor %}

                {% if is_admin %}
                    <li><a href="{{ url_for('admin.manage_groups', group='all') }}">Управление группами</a></li>
                {% endif %}

            </ul>
            {% endblock mainmenu %}
        <p><a href="{{ url_for('auth.profile', user_id=current_user.id) }}">{{ current_user.username }}</a></p>
        {% endblock %}
    </body>
</html>