{% extends 'base.html' %}

{% block content %}
<h1>Редактировать проект: {{ proj.project_name }}</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.project_name.label }}
        {{ form.project_name() }}
    </div>
    <div>
        {{ form.project_description.label }}
        {{ form.project_description() }}
    </div>
    <div>
        {{ form.status.label }}
        {{ form.status() }}
    </div>
    <div>
        {{ form.team.label }}
        {{ form.team() }}
    </div>
    <div>
        {{ form.team_lead.label }}
        {{ form.team_lead() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<p><a href="{{ url_for('main.project', project_id=proj.id) }}">Назад к проекту</a></p>
{% endblock %}
