{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h1>Редактировать проект: {{ proj.project_name }}</h1>
<div class="form-container">
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.project_name.label(class="form-label") }}
        {{ form.project_name(class="form-control") }}
    </div>
    {% if form.project_name.errors %}
      <div class="text-danger">{{ form.project_name.errors[0] }}</div>
    {% endif %}

    <div class="form-group">
        {{ form.project_description.label(class="form-label") }}
        {{ form.project_description(class="form-control") }}
    </div>
    {% if form.project_description.errors %}
      <div class="text-danger">{{ form.project_description.errors[0] }}</div>
    {% endif %}

    <div class="form-group">
        {{ form.status.label(class="form-label") }}
        {{ form.status(class="form-control") }}
    </div>
    {% if form.status.errors %}
      <div class="text-danger">{{ form.status.errors[0] }}</div>
    {% endif %}

    <div class="form-group">
        {{ form.team.label(class="form-label") }}
        {{ form.team(class="form-control") }}
    </div>
    {% if form.team.errors %}
      <div class="text-danger">{{ form.team.errors[0] }}</div>
    {% endif %}

    <div class="form-group">
        {{ form.team_lead.label(class="form-label") }}
        {{ form.team_lead(class="form-control") }}
    </div>
    {% if form.team_lead.errors %}
      <div class="text-danger">{{ form.team_lead.errors[0] }}</div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

<a href="{{ url_for('main.project', project_id=proj.id) }}"><- Назад к проекту</a>
</div>
{% endblock %}
