{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>Главная страница</h1>
<h2>Ваши проекты</h2>

<div class="projects-container">
    <a href="{{ url_for('main.create_project') }}" class="project-block-add">
    <div>
        + Создать новый проект
    </div></a>
    {% for project in projects %}
        <a href="/project/{{project.id}}" class="project-block">
            <div>
            <p class="project-name">{{ project.project_name }}</p>
            <p class="project-status">{{ project.status.status_name }}</p>
            <p class="project-team-lead">Тимлид: {{ project.team_lead.username }}</p>
            </div>
        </a>
    {% endfor %}
</div>

{% if is_admin %}
<h2>Все проекты</h2>
<div class="projects-container">
    <a href="{{ url_for('main.create_project') }}" class="project-block-add">
        + Создать новый проект
    </a>
    {% for project in all_projects %}
        <a href="/project/{{project.id}}" class="project-block">
            <div>
            <p class="project-name">{{ project.project_name }}</p>
            <p class="project-status">{{ project.status.status_name }}</p>
            <p class="project-team-lead">Тимлид: {{ project.team_lead.username }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endif %}

{% endblock %}