{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
{{ super() }}
<h1>Главная страница</h1>
<h2>Ваши проекты</h2>
        <ul>
            {% for project in projects %}
                <li>
                    <a href="/project/{{project.id}}">{{ project.project_name }}</a>
                    <p>{{ project.project_description }}
                    <ul>
                        {% for u in project.team %}
                            <li>{{ u.username }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
<p>
    <a href="{{ url_for('main.create_project') }}">Создать новый проект</a>
</p>

{% if is_admin %}
<h2>Все проекты</h2>
    <ul>
        {% for pr in all_projects %}
            <li>
                <a href="/project/{{pr.id}}">{{ pr.project_name }}</a>
                <p>{{ pr.project_description }}</p>
                <ul>
                    {% for u in pr.team %}
                        <li>{{ u.username }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}