{% extends "base.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>{{ proj.project_name }}</h1>
<p><a href="{{ url_for('main.edit_project', project_id=proj.id) }}">Редактировать проект</a></p>
<div>
    {{ proj.project_description }}
</div>

<div>
    {{ proj.status.status_name }}
</div>

<div>
    <p>
        Тимлид: <a href="{{ url_for('auth.profile', user_id=proj.team_lead_id) }}">
            {{ proj.team_lead.username }}
        </a>, {{ proj.team_lead.role }}
    </p>
</div>

<div>
    <p>Команда: </p>
    <ul>
        {% for teammate in proj.team %}
        <li><a href="{{ url_for('auth.profile', user_id=teammate.id) }}">{{ teammate.username }} - {{ teammate.role }}</a></li>
        {% endfor %}
    </ul>
</div>

<div>
    <p>Задачи: </p>
    {% if proj.project_tasks %}
    <ul>
        {% for task in proj.project_tasks %}
        <li>
            <a href="{{ url_for('main.task', project_id=proj.id, task_id=task.id) }}">
                {{ task.task_title }} - {{ task.executor.username }} - {{ task.status.status_name }} - {{ task.deadline }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    В настоящее время задачи не добавлены
    {% endif %}
</div>

<div>
    <a href="{{ url_for('main.add_task', project_id=proj.id) }}">
        Добавить задачу
    </a>
</div>
{% endblock %}