{% extends "base.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block content %}
{{ super() }}
<h1>{{ proj.project_name }}</h1>
<div>
    {{ proj.project_description }}
</div>

<div>
    {{ proj.proj_st }}
</div>

<div>
    <p>Тимлид: </p>
    {{ proj.team_lead.username }}
</div>

<div>
    <p>Команда: </p>
    <ul>
        {% for teammate in proj.team %}
        <li>{{ teammate.username }} - {{ teammate.role }}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <p>Задачи: </p>
    <ul>
        {% for task in tasks %}
        <li>{{ task.task_title }} - {{ task.executor.username }} - {{ task.status }} - {{ task.deadline }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}