{% extends "base.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>{{ proj.project_name }}</h1>

<div class="current-status">
    {{ proj.status.status_name }}
</div>

<p><a href="{{ url_for('main.edit_project', project_id=proj.id) }}">Редактировать проект</a></p>

<div class="project-descr">
    {{ proj.project_description }}
</div>


<h3>Тимлид</h3>
<div>
    <a href="{{ url_for('auth.profile', user_id=proj.team_lead_id) }}">
        {{ proj.team_lead.username }}</a>,
    {{ proj.team_lead.role[:20] }}
    {% if proj.team_lead.role | length > 20 %}
                ...
    {% endif %},
    <a href="{{ url_for('main.department_view', dept_id=proj.team_lead.department.id) }}">
        {{proj.team_lead.department.department_name}}
    </a>
</div>

<h3>Команда</h3>
<div>
<table class="table">
    {% for teammate in proj.team %}
        <tr>
            <td><a href="{{ url_for('auth.profile', user_id=teammate.id) }}">{{ teammate.username }}</a></td>
            <td>
                {{ teammate.role[:20] }}
                {% if teammate.role | length > 20 %}
                ...
                {% endif %}
            </td>
            <td><a href="{{ url_for('main.department_view', dept_id=proj.team_lead.department.id) }}">{{teammate.department.department_name}}  </a></td>
        </tr>
    {% endfor %}
</table>
</div>
<h3>Задачи</h3>
<div>
    {% if proj.project_tasks %}
    <table class="table">
        <tr><td colspan="5"><a href="{{ url_for('main.add_task', project_id=proj.id) }}">+ Добавить задачу</a></td></tr>
        {% for task in proj.project_tasks %}
        <tr>
            <td><a href="{{ url_for('main.task', project_id=proj.id, task_id=task.id) }}">{{ task.task_title }}</a></td>
            <td><a href="{{ url_for('auth.profile', user_id=task.executor.id) }}">{{ task.executor.username }}</a></td>
            <td>{{ task.status.status_name }}</td>
            <td>{{ task.deadline.strftime('%d.%m.%Y') }}</td>
            <td><a href="{{ url_for('main.edit_task', project_id=proj.id, task_id=task.id) }}">Редактировать</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    В настоящее время задачи не добавлены
    <p><a href="{{ url_for('main.add_task', project_id=proj.id) }}">+ Добавить задачу</a></p>
    {% endif %}
</div>

{% endblock %}